In [1]:
from parsing import *
from database_functions import *
from ml_functions import *

In [ ]:
#patients, appointments, weather = parsing(data_raw_fname = '/Users/jenniferpolson/Documents/School/2017-F/BE 223A/Final Project/Functionalize/be223a_dataset_full.csv', 
#             encoding = "ISO-8859-1", 
#             dtformat = '%Y-%m-%d %H:%M:%S', 
#            exam_id = 'examId', pt_id = 'patient_deid', age = 'AgeAtExam', gender = 'Gender')

In [2]:
data_raw_fname = '/Users/jenniferpolson/Documents/School/2017-F/BE 223A/Midterm Project/be223a_dataset.csv'
encoding=None
dtformat='%m/%d/%y %H:%M'
patients, appointments, weather = parsing(data_raw_fname, encoding, dtformat, 
                                          exam_id = 'Exam ID', pt_id = 'Patient ID', age = 'Age', gender = 'Gender')

Reading /Users/jenniferpolson/Documents/School/2017-F/BE 223A/Midterm Project/be223a_dataset.csv
Processed in 3.661 seconds.

## This is where the DB goes

In [3]:
def generate_string(tablename, df, primarykey, foreignkey):
    
    """ Function to generate the SQL command as a string. This function can be used when only primary keys have to be created and there are no foreign keys associated.
    
    Arguments:
    tablename (char): Name of the table to be created in the database
    df (dataframe): Parsed dataframe output from which field names for the database will be extracted from the column names
    primarykey (char): Primary unique key associated with the table, this should be one of the columnnames from the dataframe
       
    
    Returns:
    An SQL command as a string which can be executed to create tables
    
    """
    
    columnnames=list(df.columns.values)
    columnnames=[item for item in columnnames if item not in foreignkey]
    
    sql_string="CREATE TABLE IF NOT EXISTS"+ " "+ tablename + "("
    
 
        
    for i in range(len(columnnames)):

        if i==len(columnnames)-1:
            col=columnnames[i]
            col_type=df[columnnames[i]].dtype

            if col==primarykey:
                coltype=type_col(col_type)
                sql_string = sql_string + col + " " + coltype + " " + "PRIMARY KEY" + " " + ")" + ";" 
            else:
                coltype=type_col(col_type)
                sql_string= sql_string + col + " " + coltype + " " + ")" + ";"

        else:

            col=columnnames[i]
            col_type=df[columnnames[i]].dtype

            if col==primarykey:
                coltype=type_col(col_type)
                sql_string = sql_string + col + " " + coltype + " " + "PRIMARY KEY" + ","

            else:
                coltype=type_col(col_type)
                sql_string= sql_string + col + " " + coltype + ","

    return (sql_string)

def create_key(database, foreignstring):
    connection = sqlite3.connect(database)
    cursor=connection.cursor()
    cursor.execute(foreignstring)
    connection.commit()
    connection.close()

In [4]:
#Input Parameters
dbname = "223ADB3.db"
patient_key = "Patient_ID"
appointment_key = "Exam_ID"
weather_key = "Dayofyear"

In [5]:
connection = new_connection(dbname)

In [6]:
#Generating SQL Strings
patients_string=generate_string("patients", patients , patient_key, [])
appointments_string=generate_string("appointments", appointments, appointment_key, [patient_key, weather_key])
weather_string=generate_string("weather", weather, "Dayofyear", [])

In [7]:
# Creating tables

create_table(dbname, patients_string)
create_table(dbname, appointments_string)
create_table(dbname, weather_string)

OperationalError: near "Group": syntax error

In [8]:
# Creating foreign keys

fkey1=foreignkey("appointments", patient_key, "patients", patient_key)
fkey2=foreignkey("appointments", weather_key, "weather", weather_key)


# Creating foreign key columns
#create_key(dbname, fkey1)
#create_key(dbname, fkey2)

In [9]:
# Push dataframe into database

push_dataframe(patients,dbname, "patients")
push_dataframe(appointments, dbname, "appointments")
push_dataframe(weather,dbname, "weather")

In [10]:
#other function: pull from DB, rearrange to data output
patients = query_data(dbname, "SELECT * from patients") 
appointments = query_data(dbname, "SELECT * from appointments")
weather = query_data(dbname, "SELECT * from weather")

        index                        Patient ID  Age Gender
0           0  0000219e4b37d2504fb6b8c28e24a2d4   85      F
1           1  0000a7ddc7607d1d8ee5c47dd437034e   31      F
2           2  0000e1b68421441f1bb8e697ecdad119   61      F
3           3  00028fae880618d73d2dcfa3e5bc670b   68      F
4           5  0002aac1c9addac1d4ee6902d6ec5404   64      F
5           6  0004fb840f61b62300e85fff9d5d5507   21      F
6           7  0005bf180d7043a1959152398505d12b   39      M
7           8  00069bac527f81cc1fd8f6a1d6ab8ec0   69      F
8           9  0006ff704be72d3514db32fcbbcb5885   33      F
9          10  00071ad911d36fa0706bb2c70b80c799   64      M
10         11  00073f7be75bb844f0f713e98cc04197   55      F
11         12  0007c9e458254f57b98272fac909b8bb   47      F
12         16  0008252873a2b8ae0bb703f457fafa77   36      F
13         18  0008d8361e652b3b7c59e11bec470f26   59      F
14         19  000a5b03a391daec258f955cb9c8b200   51      F
15         20  000b8c253acfa01ce29e2fde2229803f   70      M
16         21  000c15efbdf58caed528c09e597484ec   53      M
17         24  00106b488de35153b7fce970acd03348   69      M
18         36  0011979ba8f0ed0a0bfc45b3d08982e7   38      M
19         38  001267c30d69c8d2ad2f197e1673cfb6   41      F
20         39  00128355703bf36cc46e83c7eb530fb7   57      F
21         40  0014e27ffc4cfa3c97aa42d20c3377e5   72      F
22         42  00152e47bce6280dabc6c060328a797d   52      M
23         48  00155cfcd120e87cff07e823282114de   33      F
24         49  0015b408b2d74b2cef35cb24f9f58bcf   25      F
25         51  001641ede68b4af3eab24b76e46ec5eb   64      M
26         54  00167befc6b9ba95d1d05f9397124b0e   58      M
27         59  00177290279939fb33386b29198c450e   72      F
28         60  00189c3b0c11d2dc73761bbf20b1458c   34      M
29         61  0019b86260bd95ddffea5e966701be36   57      M
...       ...                               ...  ...    ...
54123  149935  a1804a16c88eb3a8b7d4f4a2ac2b109e   67      F
54124  149936  a1810699a9837b9a5849bb7696a4519a   41      M
54125  149938  a18404d6c9418f1e8ac1ad1cd05963f5   67      M
54126  149940  a186a9bcb79553b3d41606156c2fcb2e   37      F
54127  149941  a186cea67f3eafe2de2262cd87e6a461   30      F
54128  149942  a1874d0b11def4358c43d851b60333d0   77      M
54129  149951  a18abe48de79fc3ca036093e31862929   49      F
54130  149953  a18c1e7398ae7196deb28af02960b534   79      M
54131  149955  a18d418d2a25762a71bc62b436c843a1   19      M
54132  149957  a18dc8a0cebf7cf24bf84381ab68f3de   44      M
54133  149958  a18e7237681e8f79ffc65d971144b573   70      F
54134  149965  a18f6289b7f498df83d6bac1a09111b7   65      F
54135  149966  a190777270495c7da40a3bfbc9b66f35    5      F
54136  149967  a1929582766e27f3f3d32821de0d5aea   40      M
54137  149968  a192f012cc03756008bca5d76e729cda    0      F
54138  149971  a1933e04783e200cc90d4e60db514b42   41      M
54139  149972  a193637f5e97566eb59ac9d8a00e6ba5   21      F
54140  149973  a193fc35fa09666dfea082a77351cd10   60      F
54141  149976  a194822707d6cd46175c4019477d4af4   44      F
54142  149978  a194a81f4bed9c03aff7fd012730f073   34      F
54143  149981  a194d43f6050b213511a6820ebb471a1   11      F
54144  149982  a1952b42280fc08cc60852b9f4e72726   31      M
54145  149983  a196ad8b7d9aee015fdf68a3570f77d3   78      M
54146  149984  a1987975765df46fa926f8285ba64b45   45      F
54147  149986  a199167909d59805ee00593617083b62   89      F
54148  149987  a1995c95d4b51d60ec74838dcc56285b   34      M
54149  149990  a19a26a4d188ff00d18529d9df2f758f   80      F
54150  149991  a19a7157660a79f6c444256ed3a8c67a   65      F
54151  149992  a19b588ee72cfcd52b623080181cf677   29      M
54152  149993  a19ba0cb1324e165e07990b29567d3ce   86      F

[54153 rows x 4 columns]

## Start here for merging

In [11]:
df = create_df(appointments, patients, weather, 'Patient_ID', 'Dayofyear').drop('index', axis = 1)

ValueError: list.remove(x): x not in list

In [ ]:
#run ML
results, test, prob, groups, evalstats = run_model(df, k = 5000, gridsearch = False)

In [ ]:
#create new table
results_string = generate_string ('results', results, 'Patient_ID', []) #patient ID
create_table(dbname, results_string)

#push the data to the table
push_dataframe(results,dbname, 'results')

In [ ]:
#circular - to make sure it actually worke
results = query_data(dbname, "SELECT * from results")