In [ ]:
'''
OUTLINE
Delete digits after three spaces <- use str.partition
Index matching: icd9 code with umbrella term <- use groupby
Create dictionary for each of the umbrella groups for new cases
'''

In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

df = pd.read_csv('./icd9_index_2cols.csv')
print(df.dtypes)

Patient ID     object
icd9           object
icd9_group    float64
dtype: object

In [2]:
#Convert column row to string

df['icd9'] = df['icd9'].astype(str)
print(df['icd9'])

0                              729.5|
1                              447.6|
2                              729.5|
3                              225.2|
4                  351.8|368.8|784.0|
5                             V76.12|
6                              626.2|
7                             V76.12|
8                       729.5|729.81|
9                       729.5|729.81|
10                   511.9|428.0|514|
11                            959.01|
12                            959.09|
13               518.0|512.89|793.19|
14                             805.4|
15          511.9|805.4|807.09|860.0|
16               518.0|512.89|793.19|
17                     733.13|789.30|
18                             714.0|
19                             599.0|
20                             625.6|
21                             518.0|
22       V45.81|414.01|V58.81|V58.82|
23                     414.01|V58.81|
24         511.9|518.0|414.01|V58.81|
25                       723.1|723.4|
26                             218.9|
27                             218.9|
28                             959.3|
29                             959.6|
                     ...
77414                          786.2|
77415                         733.00|
77416                         789.39|
77417                          V42.0|
77418                         786.50|
77419                    780.4|781.2|
77420            722.52|805.4|202.80|
77421                    780.4|781.2|
77422                    780.4|781.2|
77423                   627.9|733.00|
77424                  722.51|757.39|
77425                         715.95|
77426                         715.95|
77427      721.3|721.3|722.52|722.52|
77428                          241.1|
77429             719.46|724.5|V45.4|
77430                         719.46|
77431                     786.07|490|
77432                         786.50|
77433                          790.6|
77434              577.8|785.6|789.2|
77435              577.8|785.6|789.2|
77436                  959.01|780.97|
77437                  719.45|722.52|
77438                          191.9|
77439                          151.9|
77440        511.9|V58.81|514|793.19|
77441                          V55.1|
77442                  V58.81|793.19|
77443                         V58.82|
Name: icd9, Length: 77444, dtype: object

In [12]:
#Use the delimiter '.' to partition the string and only keep the elements before the delimiter

df['icd9'] = df['icd9'].str.partition('.')[0]
print(df['icd9'])

0        729
1        447
2        729
3        225
4        351
5        V76
6        626
7        V76
8        729
9        729
10       511
11       959
12       959
13       518
14       805
15       511
16       518
17       733
18       714
19       599
20       625
21       518
22       V45
23       414
24       511
25       723
26       218
27       218
28       959
29       959
        ...
77414    786
77415    733
77416    789
77417    V42
77418    786
77419    780
77420    722
77421    780
77422    780
77423    627
77424    722
77425    715
77426    715
77427    721
77428    241
77429    719
77430    719
77431    786
77432    786
77433    790
77434    577
77435    577
77436    959
77437    719
77438    191
77439    151
77440    511
77441    V55
77442    V58
77443    V58
Name: icd9, Length: 77444, dtype: object

In [ ]:
'''
#Use groupby to match icd9 column with icd9_group column

umbrella_term = df['icd9'].groupby(df['icd9_group'])
list(df['icd9'].groupby(df['icd9_group'])) #Display the grouping
'''

df['icd9'] = df['icd9'].astype(str)
df['icd9'] = df['icd9'].str.partition('.')[0]
df['icd9'] = df['icd9'].str.partition('|')[0]

In [3]:
#Function creates new column named icd9_group containing corresponding umbrella terms
terms = {}
def icd9_group(label, low, high):
    lst = np.arange(low, high+1, 1).astype(str).tolist()
    for i in lst:
        terms[i] = label
   
    return None

icd9_group('blood', 280, 289)
icd9_group('circulatory', 390, 459)
icd9_group('congenital', 740, 759)
icd9_group('digestive', 520, 579)
icd9_group('enmi', 240, 279)
icd9_group('genitourinary', 580, 629)
icd9_group('illdefined', 780, 799)
icd9_group('infectious', 0 , 139)
icd9_group('injury', 800, 999)
icd9_group('mental', 290, 319)
icd9_group('musculoskeletal', 710, 739)
icd9_group('neoplasms', 140, 239)
icd9_group('nervous', 320, 389)
icd9_group('obstetrics', 630, 679)
icd9_group('perinatal', 760, 779)
icd9_group('respiratory', 460, 519)
icd9_group('skin', 680, 709)
terms['blank'] = 'nan'
#icd9_group('supplemental', [^0-9])

In [14]:
df['icd9_group'] = [terms.get(i, 'supplemental') for i in df['icd9']]

In [15]:
df['icd9']

0        729
1        447
2        729
3        225
4        351
5        V76
6        626
7        V76
8        729
9        729
10       511
11       959
12       959
13       518
14       805
15       511
16       518
17       733
18       714
19       599
20       625
21       518
22       V45
23       414
24       511
25       723
26       218
27       218
28       959
29       959
        ...
77414    786
77415    733
77416    789
77417    V42
77418    786
77419    780
77420    722
77421    780
77422    780
77423    627
77424    722
77425    715
77426    715
77427    721
77428    241
77429    719
77430    719
77431    786
77432    786
77433    790
77434    577
77435    577
77436    959
77437    719
77438    191
77439    151
77440    511
77441    V55
77442    V58
77443    V58
Name: icd9, Length: 77444, dtype: object

In [9]:
terms.get(5,'a')

'a'