In [1]:
import pandas as pd
import numpy as np

In [2]:
Patients = pd.read_csv("C:/Users/lavan/.jupyter/Patients.csv")

In [3]:
Attributes = pd.read_csv("C:/Users/lavan/.jupyter/Attributes.csv")

In [4]:
Weather = pd.read_csv("C:/Users/lavan/.jupyter/Weather.csv")

In [5]:
Patients

   P_id P_name
0     1      a
1     2      b
2     3      c
3     4      d

In [6]:
Attributes

   A_id attribute1 attribute2  P_id weather_id
0    12         a1         b1     1         w1
1   123         a2         b2     2         w2
2    31         a3         b3     2         w3

In [7]:
Weather

  weather_id weather
0         w1   Sunny
1         w2  Cloudy
2         w3   Rains
3         w4    Snow

In [8]:
def merge_columns(finaldf, referencedf, referencecolid,valuecol):
    """ Function to lookup values in another dataframe based on an ID
    
    Arguments:
    finaldf (dataframe): Base dataframe into which columns have to be appended
    referencedf (dataframe): Parent dataframe from which values have to be fetched
    referencecolid (char): Name of common column in the reference and final dataframe (key ID) to lookup values in the reference dataframe
    valuecol (char): Name of column in reference dataframe from which lookup values have to be fetched
    
    Returns:
    Dataframe appended with a new column along with the lookup values"""
    
    d=referencedf.set_index(referencecolid)[valuecol].to_dict()
    finaldf[valuecol]=finaldf[referencecolid].map(d)
    return finaldf

In [9]:
merge_columns(Attributes,Patients,'P_id','P_name')

   A_id attribute1 attribute2  P_id weather_id P_name
0    12         a1         b1     1         w1      a
1   123         a2         b2     2         w2      b
2    31         a3         b3     2         w3      b

In [10]:
merge_columns(Attributes,Weather,'weather_id','weather')

   A_id attribute1 attribute2  P_id weather_id P_name weather
0    12         a1         b1     1         w1      a   Sunny
1   123         a2         b2     2         w2      b  Cloudy
2    31         a3         b3     2         w3      b   Rains